<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:largeHeap="true"
    package="com.rokid.glesse">

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:targetApi="33" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 获取手机震动服务 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 获取网络服务 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取Wi-Fi服务 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 这是 Android 12 (API 31) 及以上使用 Wi-Fi P2P / Wi-Fi 扫描必须声明的权限 -->
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" /> <!-- 声明支持 Wi-Fi Direct 功能 -->
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- 需要系统签名 应用通过反射方式开启设备蓝牙可见性 需要该权限 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:ignore="BackgroundLocationPolicy" />
    <!-- Android 10+ 特殊情况：SYSTEM_ALERT_WINDOW 权限  后台启动activity  蓝牙可发现状态的权限弹窗 需要该权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.rokid.glass.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/jicengyingxiao"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jicengyingxiao"
        android:supportsRtl="true"
        android:theme="@style/Theme.Glessedemo"
        tools:targetApi="31">
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="firebase_data_collection_default_enabled"
            android:value="false" />
        <!--        <activity-->
        <!--            android:name="com.rokid.glass.BarcodeDetectorActivity"-->
        <!--            android:exported="false" />-->
        <activity
            android:name="com.rokid.glass.CameraActivity"
            android:exported="false" />
        <activity
            android:name="com.rokid.glass.WifiQrScanActivity"
            android:exported="false"
            android:theme="@style/Theme.Glessedemo" />
        <activity
            android:name="com.rokid.glass.EnterpriseQrScanActivity"
            android:exported="false"
            android:theme="@style/Theme.Glessedemo" />
        <activity
            android:name="com.rokid.glass.EnterpriseInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.Glessedemo" />
        <activity
            android:name="com.rokid.glass.AiInspectionMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.Glessedemo" />
        <activity
            android:name="com.rokid.glass.InspectionEndReportActivity"
            android:exported="false"
            android:theme="@style/Theme.Glessedemo" />
        <activity
            android:name="com.rokid.glass.SendMessageActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name="com.rokid.glass.MainActivity" -->
        <!-- android:exported="true" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/Theme.Glessedemo"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.rokid.glass.hiddenrisk.HiddenRiskProbeActivity"
            android:exported="true"
            android:label="@string/hidden_risk_probe_label"
            android:theme="@style/Theme.Glessedemo" />
        <activity
            android:name="com.rokid.glass.CameraPageActivity"
            android:exported="true" />
        <!--        <activity-->
        <!--            android:name="com.rokid.glass.MainActivity"-->
        <!--            android:exported="true" />-->
        <activity
            android:name="com.rokid.glass.GlassLprTrackActivity"
            android:exported="true" />
        <activity
            android:name="com.rokid.glass.GlassFaceTrackActivity"
            android:exported="true" />
        <activity
            android:name="com.rokid.glass.MessageReceiveActivity"
            android:exported="true" />
        <activity
            android:name="com.rokid.glass.TestNetworkActivity"
            android:exported="true" />

        <service
            android:name="com.rokid.glass.AudioService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice|location|microphone|dataSync|camera"
            tools:ignore="ForegroundServicePermission" />
        <activity
            android:name="com.rokid.glass.TestMediaActivity"
            android:exported="true" />
        <activity
            android:name="com.rokid.glass.InspectionModeActivity"
            android:exported="true"
            android:label="杭小应"
            android:theme="@style/Theme.Glessedemo" />
        <activity
            android:name="com.rokid.glass.hiddenrisk.InspectionLoadingActivity"
            android:exported="true"
            android:theme="@style/Theme.Glessedemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rokid.glass.hiddenrisk.AiInspectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Glessedemo" />
        <activity
            android:name="com.rokid.glass.hiddenrisk.LightshotActivity"
            android:exported="true"
            android:theme="@style/Theme.Glessedemo" />
        <activity
            android:name="com.rokid.glass.hiddenrisk.UnifiedInputDebugActivity"
            android:exported="true"
            android:theme="@style/Theme.Glessedemo" />
    </application>

</manifest>
